.mainContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2vh;
  column-gap: 1vw;
  justify-items: center;
  margin-top: 20px;
}

@media (min-width: 3000px) {
  .newsItem {
    width: 30vw
  }

  .container {
    width: 90vw;
  }

  .itemImage {
    width: 2em;
  }
}

.newsItem {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow:
    rgba(0, 0, 0, 0.05) 0 6px 24px 0,
    rgba(0, 0, 0, 0.08) 0 0 0 1px;
  cursor: pointer;
  padding: 5px 50px 5px 50px;
  transition: 0.3s;
  margin-bottom: 15px;
  text-decoration: none;
  color: black;
  width: 20vw;
  text-align: center;
  font-family: Roboto, sans-serif;
  height: 50vh;
}

.newsItemDark {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: #4c4a4ad6;
  outline-color: #262626;
  color: #b8ab99;
  cursor: pointer;
  padding: 5px 50px 5px 50px;
  transition: 0.3s;
  margin-bottom: 15px;
  text-decoration: none;
  width: 20vw;
  text-align: center;
  font-family: Roboto, sans-serif;
  height: 50vh;
}

h1 {
  font-family: Roboto bold, sans-serif;
}

.newsItem:hover {
  box-shadow:
    rgba(0, 0, 0, 0.16) 0 10px 36px 0,
    rgba(0, 0, 0, 0.16) 0 0 0 1px;
}

.newsItemDark:hover {
  box-shadow:
    rgba(255, 255, 255, 0.26) 0 10px 36px 0,
    rgba(255, 255, 255, 0.16) 0 0 0 1px;
}

.itemImage {
  justify-self: center;
  border-radius: 8px;
  width: 20vw;
  height: 200px;
}

/*.pretext {*/
/*  display: block;*/
/*  margin-left: 70px;*/
/*  width: 600px;*/
/*  height: 100px;*/
/*}*/

.darkPretext {
  color: white;
}