.mainContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
  max-width: 70%;
  margin: 30px auto;
}

.newsItem {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow:
    rgba(0, 0, 0, 0.05) 0 6px 24px 0,
    rgba(0, 0, 0, 0.08) 0 0 0 1px;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
  color: black;
  width: 15vw;
  text-align: center;
  font-family: Roboto, sans-serif;
  height: auto;
}

.newsItemDark {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: #4c4a4ad6;
  outline-color: #262626;
  color: #b8ab99;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
  width: 15vw;
  text-align: center;
  font-family: Roboto, sans-serif;
  height: auto;
}

h1 {
  font-family: Roboto bold, sans-serif;
  font-size: 20px;
}

.newsItem:hover {
  box-shadow:
    rgba(0, 0, 0, 0.16) 0 10px 36px 0,
    rgba(0, 0, 0, 0.16) 0 0 0 1px;
}

.newsItemDark:hover {
  box-shadow:
    rgba(255, 255, 255, 0.26) 0 10px 36px 0,
    rgba(255, 255, 255, 0.16) 0 0 0 1px;
}

.itemImage {
  justify-self: center;
  border-radius: 8px;
  width: 15vw;
  height: auto;
}

.darkPretext {
  color: white;
}

@media (min-width: 2000px) {
  .mainContainer {
    max-width: 60%;
  }

  .newsItem {
    width: 10vw;
  }

  .itemImage {
    width: 10vw;
  }

  .newsItemDark {
    width: 10vw;
  }
}